<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Range</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Search Expense Range</h1>
        <table>
            <thead>
                <tr>
                    <th>SearchID</th>
                    <th>Date of Expense</th>
                    <th>Range</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>ExpenseID</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in search_results %}
                    <tr>
                        <td>{{ entry[0] }}</td>
                        <td>{{ entry[1] }}</td>
                        <td>{{ entry[2] }}</td>
                        <td>{{ entry[3] }}</td>
                        <td>${{ "{:0.2f}".format(entry[4]) }}</td>
                        <td>{{ entry[5] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
